footer {
    position: absolute;
    bottom: 1%;
    width: 100%;

    .contact-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2em;
        background-color: #332660;
        border-radius: 0.2em;
        opacity: 0.8;
        button img {
            width: 40px;
        }
        .email a {
            display: flex;
            align-items: center;
            gap: 0.5em;
            color: #f29194a9;
            padding-right: 1em;            
        }
    }

    .credits {
        width: 100%;
        padding: 0.7em 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: right;
        font-size: 0.8em;
        color: #332660;
        @media (min-width: 500px) {
            flex-direction: row;
            justify-content: space-between;
        }
        .made-by {
            width: 100%;
            text-align: right;
            @media (min-width: 768px) {
                text-align: left;
            }
        }
        .icons-bg {
            width: 100%;

            @media (min-width: 768px) {
                text-align: right;
            }
        }
    }
}