.experience {
    .experience-item-img {
        width: 96vw;
        max-width: 900px;
    }

    .chevron{
        transform: rotate(360deg);
        transition: transform 0.4s ease-in-out;
        &-open {
            transform: rotate(180deg);
            transition: transform 0.4s ease-in-out;
        }
    }
}