.experience {
    h4 {
        @media (max-width: 350px) {
            font-size: 1.1em;
        }
    }
    h5::after {
        content: "";
    }
    & .experience-item-description {
        margin-bottom: 2em;
    }
    .experience-item-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-item ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1em;
        &-title {
            width: 100%;
        }
    }
    .content-subitem {
        list-style-type: circle;
        margin-left: 2em;
        &-react {
            list-style-type: disc;
            margin-left: 2em;
            font-size: 0.9em;
        }
        ul {
            margin-bottom: 0;
        }
    }
    .chevron {
        filter: (grayscale(20%) brightness(0.9));
        width: 25px;
        margin-top: -0.6em;
        transform: rotate(360deg);
        transition: transform 0.4s ease-in-out;
        &-open {
            transform: rotate(180deg);
            transition: transform 0.4s ease-in-out;
        }
    }
}

// Laptop
@media (min-width: 1024px) {
    .experience-container {
        display: flex;
        justify-content: space-evenly;
        .experience-item-img {
            width: 46vw;
        }
        .experience-item-description {
            width: 46vw;
        }
    }
}