.App {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  margin: auto;
  padding-bottom: 4em;
  background-image: url(../../assets/images/stacked-waves-haikei-bg-mobile.svg);
  background-size: cover;
  @media (min-width: 1080px) {
    background-image: url(../../assets/images/stacked-waves-haikei-bg-pc.svg);
  }
  text-align: center;
  transition: all 0.4s ease-in-out;
  a, button {
    transition: all 0.4s ease-in-out;
  }

  h1 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: 1.5em;
  }

  h2 {
    width: 80vw;
    max-width: 300px;
    margin: auto;
    font-family: 'Arima';
    font-weight: 100;
    font-size: 1em;
    font-style: italic;
    text-align: right;
  }

  h3 {
    font-family: 'Arima';
    font-weight: 600;
    font-size: 1.5em;
  }

  h4 {
    font-family: 'Arima';
    font-weight: 100;
    font-size: 1.2em;
    margin: 0.5em 0 0 1em;
    text-align: left;
  }

  h5 {
    font-family: 'Arima';
    font-weight: 100;
    margin: 0.5em 0;
    font-size: 1.2em;
    &::after {
      content: "⏷";
      padding-left: 0.5em;
      opacity: 0.1;
      vertical-align: sub;
    }
  }

  .subtitles {
    max-width: 400px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5em 0;
  }
  .item-date {
      width: 50%;
      font-size: 0.8em;
      font-style: italic;
      opacity: 0.7;
  }
  .item-org {
      width: 50%;
      font-size: 1.1em;
  }
  .content {
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      text-align: left;
  }

  .training-logo, .experience-item-img {
      width: 90vw;
      max-width: 900px;
      margin: 0.5em 0;
      border-radius: 0.5em;
      opacity: 0.8;
  }
}
