@import url(https://fonts.bunny.net/css?family=arima:100,600|dosis:300,600);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  width: 100vw;
  @media (min-width: 768px) {
    font-size: 1.2em;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
  color: #3e387a;
  font-weight: 600;
  font-style: italic;
}

